environment:
  output_dir: outputs/default_experiment

batch_size: 2
iters: 4000

# ----------------------------------------------------
# 数据集与变换 (Dataset and Transforms)
# ----------------------------------------------------
dataset:
  train:
    type: Cityscapes
    root_path: data/cityscapes
    transforms:
      - type: ResizeStepScaling
        min_scale_factor: 0.5
        max_scale_factor: 2.0
        scale_step_size: 0.25
      - type: RandomPaddingCrop
        crop_size: [1024, 512]
      - type: RandomHorizontalFlip
      - type: RandomDistort
        brightness_range: 0.4
        contrast_range: 0.4
        saturation_range: 0.4
      - type: Normalize
  val:
    type: Cityscapes
    root_path: data/cityscapes
    transforms:
      - type: Normalize


# ----------------------------------------------------
# 模型 (Model)
# ----------------------------------------------------  
model:
  type: HRNetSegmentor
  backbone:
    type: HRNet_W48
    pretrained: https://bj.bcebos.com/paddleseg/dygraph/hrnet_w48_ssld.tar.gz
  head:
    type: SimpleSegmentationHead
    num_classes: 19
  bb_channels: 720
  drop_prob: 0.1
  proj_dim: 720



# ----------------------------------------------------
# 损失函数 (Loss Function)
# ----------------------------------------------------
loss:
  types:
    - type: CrossEntropyLoss
    - type: PixelContrastCrossEntropyLoss
      temperature: 0.1
      base_temperature: 0.07
      ignore_index: 255
      max_samples: 1024
      max_views: 100
  coef: [1, 0.1]


# ----------------------------------------------------
# 优化器与学习率调度器 (Optimizer & LR Scheduler)
# ----------------------------------------------------
optimizer:
  type: SGD
  momentum: 0.9
  weight_decay: 0.0002

lr_scheduler:
  type: PolynomialDecay
  learning_rate: 0.01
  end_lr: 0
  power: 0.9
